.hlx/*
coverage/*
logs/*
node_modules/*
workers/block-generator/node_modules/*
.claude/skills/scrape-webpage/scripts/node_modules/*
import-work/images/*

workers/block-generator/.wrangler/tmp/*

helix-importer-ui
.DS_Store
*.bak
.idea
.env
.env.swp
